<!DOCTYPE html>
<html>
	<head>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
            var data = google.visualization.arrayToDataTable([
              {% for i in range(data|length) %}
              ['{{data.index[i].strftime('%Y%m%d')}}', {{data['low'][i]}}, {{data['open'][i]}}, {{data['close'][i]}}, {{data['high'][i]}}],
              {% endfor %}
            ], true);

            var options = {
              legend:'none',
              candlestick: {
                fallingColor: { stroke:'blue' , fill: 'blue' },
                risingColor: { stroke:'red' , fill: 'red' }
              }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

            chart.draw(data, options);
          }
        </script>
	</head>
	<body>
        <div id="chart_div" style="width: 1200px; height: 700px;"></div>
	</body>
</html>