<!DOCTYPE html>
<html>
<head>
    <title>Quantom Home</title>
    <link rel="stylesheet" href="../static/style/style.css" />
    <script>
        var data = [
          {% for i in range(data|length) %}
          { date  : new Date({{data.index[i].year}},{{data.index[i].month-1}},{{data.index[i].day}}),
            open  : {{data['open'][i]}},
            high  : {{data['high'][i]}},
            low   : {{data['low'][i]}},
            close : {{data['close'][i]}}
          },
          {% endfor %}
        ];
    </script>
    <script data-main="../static/js/Quantom" src="../static/js/lib/require.js"></script>
</head>
<body>
<div id="chart"></div>
</body>
</html>